<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">
</head>

<body>
	<header th:replace="~{layout/layout :: header}"></header>

	<div class="container py-4">

		<div class="card border-info">
			<div class="card-header"></div>
			<div class="card-body">
				<h4 class="card-title py-2">
					<a class="btn btn-primary btn-lg">Crear usuarios</a>
				</h4>

				<table class="table table-striped table-hover table-bordered border-info">
					<thead class="table-info">
						<tr>
							<th style="text-align: center;">DNI</th>
							<th style="text-align: center;">Nombre</th>
							<th style="text-align: center;">Apellido</th>
							<th style="text-align: center;">Fecha de Nacimiento</th>
							<th style="text-align: center;">Nacionalidad</th>
							<th style="text-align: center;">Tipo de usuario</th>
							<th style="text-align: center;">Modificar</th>
							<th style="text-align: center;">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${!usuarios.isEmpty()}" th:each="usuario: ${usuarios}">
							<td style="text-align: center;" th:text="${usuario.dni}"></td>
							<td style="text-align: center;" th:text="${usuario.nombre}"></td>
							<td style="text-align: center;" th:text="${usuario.apellido}"></td>
							<td style="text-align: center;" th:text="${usuario.fechaNacimiento}"></td>
							<td style="text-align: center;" th:text="${usuario.nacionalidad}"></td>
							<td style="text-align: center;" th:text="${usuario.tipoUsuario}"></td>
							<td style="text-align: center;">
								<!-- Botón de Modificar -->
							</td>
							<td style="text-align: center;">
								<!-- Botón de Eliminar -->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>